.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 16px;
  padding: 2rem 6rem 6rem;
}

.main .logo {
  width: 250px;
}

.file {
  margin: auto;
}

.fields {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 16px;
  width: 1400px;
  margin: 32px auto;
}

.field {
  display: grid;
  grid-template-columns: 150px minmax(0, 1fr);
  gap: 32px;
}

.field .key {
  overflow: hidden;
  text-overflow: ellipsis;
}

.field textarea {
  --input-min-height: 40px;
  --input-max-height: 40px;
  --input-border-radius: 12px;
  --input-border: #c3c3c3;
  --input-bg: white;

  position: relative;
  flex: 1;
  background-image: none;
  background-clip: padding-box;
  outline: none;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  font-family: inherit;
  color: rgb(10, 10, 10);
  transition: background-color 500ms;
  outline: none;
  font-size: 14px;
  padding: 6px 12px;
  background-color: var(--input-bg);
  min-height: var(--input-min-height);
  border: 2px solid var(--input-border);
  border-radius: var(--input-border-radius);
  font-family: Arial, Helvetica, sans-serif;
}

.main button {
  background-image: none;
  font-size: 0.7142857143rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 150px;
  margin: 0 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-font);
  background-color: var(--primary-color);
  padding: 11px 20px;
  font-family: var(--font-family-primary);
}

.main .download {
  position: fixed;
  bottom: 16px;
  right: 16px;
}